@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8B0D20;
    color: white;
}

  .title {
    flex: 1;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
  }

  .logo{
    border-color: 2px solid rgb(255, 254, 254);
    padding-left: 15px;
  }
